<html>
<head>
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=1200">
<meta name="description" content="">
<meta name="author" content="">
<title>Print1[ver.1.0]</title>
<link rel="shortcut icon" href="/assets/img/favicon.ico" />
<link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon.png">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="all">
<link href="assets/css/style.css" rel="stylesheet" media="all">
<link href="assets/css/jquery-ui.css" rel="stylesheet">
</head>
<body>
<div class="l-container">
	<div class="l-controller" ng-app="print1" ng-controller="print1Controller">
		<div class="l-controller-inner">
			<div class="row">
				<div class="col-sm-1">
					<form class="form-horizontal" role="form">
						<input id="inputItemWidth" class="form-control" type="text" ng-model="itemWidth" ng-change="changeItemWidth(itemWidth)" placeholder="Enter a item width">
					</form>
				</div>
				<div class="col-sm-2">
					<div id="slider"></div>
				</div>
				<div class="col-sm-2">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-lg btn-primary" ng-click="wPrint()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-lg btn-danger" ng-click="clear()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</div>
				</div>
				<div class="col-sm-3">
				</div>
				<div class="col-sm-4">
					<p class="copyright text-right"><a href="">WebNAUT by beeworks</a><br>Copyright (c) 2014 Beeworks Co., Ltd All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	<div id="printArea" ondragover="onDragOver(event)" data-colnum="">
		<p id="beforeMessage">Drop Image File Here.</p>
		<img src="" alt="" class="disp">
	</div>
</div>
<script src="assets/js/jquery-1.9.1.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/util.js"></script>
</body>
</html>